name: commentBlockDocumentation
phrase: block doc comment | block doc string
insertionScope: statement

$0.insertionFormatter: CAPITALIZE_FIRST_WORD
---

language: javascript | java | rust
-
/** $0 */
---

language: python
-
"""$0"""
---
