name: doWhileLoopStatement
phrase: do while
insertionScope: statement
---

language: javascript | java
-
do {
    $0
} while($1);
---

language: rust
-
loop {
    $1
    if $0 {
        break;
    }
};
---
