name: functionCall
phrase: call
insertionScope: statement

$0.wrapperPhrase: call
---

language: c | javascript | java | python | talon | lua | rust
-
$1($0)
---

language: bash | zsh | nix
-
$1 $0
---
