language: json
---

name: jsonDictString
phrase: dick string
insertionScope: statement
-
"$1": "$2",
---

name: jsonTalonPythonSettings
phrase: talon interpreter
insertionScope: statement
-
{
    "python.defaultInterpreterPath": "~/.talon/.venv/bin/python",
    "python.analysis.stubPath": "~/.talon/.venv/lib/python3.11/site-packages"
}
---
