language: markdown
---

name: link
phrase: link
-
[$1]($0)
---

name: linkTitle
phrase: link title
-
[$0]($1)
---

name: image
phrase: image
-
[!$1](./images/$0)
---

name: imageLink
phrase: image link
-
[![$1](./images/$0)](./images/$0)
---
